// import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

// ui kit 
@import './ui-kit';

// scss components
@import './_header';
@import './components';
@import './_footer';


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: $ui-carrot-color;
        border-radius: $ui-border-radius-b;
    }
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: none;
}

.section{
    padding: 5rem 9%;
}


//! components styles



//! media queries

@media #{$ui-m-port-tabl}{
    .section{
        padding: 5rem 2rem;
    }

    .home{
        justify-content: center;
        background-position: right;

        .content{
            text-align: center;
            padding-bottom: 5rem;

            h3{
                font-size: 4.5rem;
            }
        }
    }
}