// import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

// ui kit 
@import './ui-kit';

// scss components
@import './_header';
@import './_footer';


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: $ui-carrot-color;
        border-radius: $ui-border-radius-b;
    }
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: none;
}

.section{
    padding: 5rem 9%;
}


//! components styles

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url(../img/home_bg_img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .content{
        width: 50rem;

        h3{
            font-size: 6rem;
            color: $ui-white-color;
            padding-bottom: 1rem;

            span{
                color: $ui-carrot-color;
            }
        }

        .ui-btn{
            @include white-btn();
        }
    }

    .wave{
        position: absolute;
        bottom: -1px; left: 0;
        width: 100%;

        path{
            fill: $ui-white-color;
        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    .image{
        flex: 1 1 40rem;
        img{
            width: 100%;
        }
    }
    .content{
        flex: 1 1 40rem;
        h3{
            color: $ui-black-color;
            font-size: 4rem;
            span{
                color: $ui-carrot-color;
            }
        }
        p{
            font-size: 1.6rem;
            color: $ui-light-color;
            padding: 1rem 0;
            line-height: 2;

        }
    }
}

.cat-food{
    flex-wrap: wrap-reverse;
}

.shop{
    &__wrapper{
        @include grid(35rem);
    }
    &__item{
        position: relative;
        overflow: hidden;

        &:hover{
            @media #{$ui-mouse-device}{
                .image img{
                    transform: scale(1.1);
                }
            }

            .icons{
                transform: translateX(0rem);
            }
        }

        .image{
            height: 45rem;
            width: 100%;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .icons{
            position: absolute;
            top: 1rem; right: 2rem;
            z-index: $ui-index-2;
            transform: translateX(10rem);

            a{
                display: block;
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
                font-size: 2.2rem;
                margin-top: 1rem;
                background: $ui-white-color;
                color: $ui-black-color;
                text-align: center;
                border-radius: $ui-border-radius;

                &:hover{
                    @media #{$ui-mouse-device}{
                        color: $ui-white-color;
                        background: $ui-carrot-color;
                    }
                }
            }
        }
        .content{
            padding: 1rem 0;
            text-align: center;

            h3{
                font-size: 2.2rem;
                color: $ui-black-color;
                padding-bottom: .5rem;
            }

            .amount{
                font-size: 2rem;
                color: $ui-carrot-color;
            }
        }
    }
}

.services{
    &__wrapper{
        @include grid(35rem);
    }

    &__item{
        background: $ui-bg-light;
        padding: 3rem;
        text-align: center;
        border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;

        &:nth-child(even){
            border-radius: 79% 21% 81% 19% / 58% 92% 7% 42%;
        }

        &:hover{
            @media #{$ui-mouse-device}{
                border-radius: $ui-border-radius;
            }
        }

        i{
            height: 6.5rem;
            width: 6.5rem;
            line-height: 6.5rem;
            font-size: 3rem;
            color: $ui-white-color;
            background: $ui-carrot-color;
            border-radius: 50%;
            margin-bottom: .5rem;
        }

        h3{
            font-size: 2.2rem;
            color: $ui-black-color;
            padding: 1rem 0;

        }
    }
}

//! media queries

@media #{$ui-m-port-tabl}{
    .section{
        padding: 5rem 2rem;
    }

    .home{
        justify-content: center;
        background-position: right;

        .content{
            text-align: center;
            padding-bottom: 5rem;

            h3{
                font-size: 4.5rem;
            }
        }
    }
}